nav{
    background-color:rgba(255, 132, 0, 0.945);
    width: 100vw;
    height: 5vh;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
li a{
    text-decoration: none;
}